
.container-todo{
  background-color: #13714C;
  color: #EAEBED;
  min-height: 100vh;
  width: 100%;
}

.form-box-todo{
  display: flex;
  height: 800px;
  width: 60%;
  margin: 0 auto;
  border-top: solid 1px #A3E494;
}

.form-sidebar-area{
  flex: 2;
  height: 100%;
  padding: 4rem 0 10px;
  border-right: solid 1px #A3E494;
  gap: 1rem;
}

.form-steps-area{
  display: flex;
  flex-direction: column;
  flex: 4;
  height: 100%;
  padding: 4rem;
}